/* Home.css */

.home-header {
  background-color: #e0f2e9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-header h1 {
  margin: 0;
  color: #064425; /* Darker shade of green */
}

.learning-assistant-btn {
  background-color: #1b955c;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 1.1em;
  border: 2px solid #064425; /* Adds a border for a more defined look */
  border-radius: 8px; /* Slightly larger border-radius for a modern look */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Adds subtle shadow */
}

.learning-assistant-btn:hover {
  background-color: #40916c;
  transform: scale(1.05); /* Adds a slight zoom on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Intensifies shadow on hover */
}

.learning-assistant-btn:active {
  background-color: #1b7748; /* Darker shade for pressed effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduces shadow on click */
  transform: scale(0.98); /* Slightly shrinks on click */
}

.tab-content {
  padding: 20px;
}
